.*Store*
*.gif
*.bmp
*.png
*.jpg
*.jpg
*.swp
*.so
*.dll
*.o
*.csv
*.py[c|d]
__pycache__
.netrwhist
.vscode
.idea
.root
.svn
.asynctasks
.vim
.github
expand*
*tmp*
*backup*
core.[0-9]*
Gemfile
GPATH
GRTAGS
GTAGS
*.tags
tags
tags-ja

adapter.lua
before.vim
after.vim
